html, body {
  height: 100vh;
  width: 100vw;

  background: url("https://user-images.githubusercontent.com/56101914/192910554-9f31f027-d966-40cc-afc2-16bed3a1909e.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* _______________________ Work Displays _______________________*/
#Work-Display {
  padding-top: 2%;
 /* border: 4px solid black; */
  display: flex;
  justify-content: center;
  padding-left: 2%; padding-right: 2%; 
  flex-wrap: wrap;
}


  #Jendia {
    width: 40%;
    height: 20%;
    border-radius: 60%;
  }

/* _______________________ Game Displays _______________________*/
.Games-Display {
  padding-top: 2%;
 /* border: 4px solid black; */
  display: flex;
  justify-content: center;
  padding-left: 2%; padding-right: 2%; 
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}


.Game {
  width: 30%;

  padding-top: 5%;
  display: inline-block;
  justify-content: center;
  height: auto;

 /* border: 6px solid red; */
}

.Display {
  display: inline-block;
  justify-content: center;

  width: 100%;
    
  background-color: lightgoldenrodyellow;

  
  border-radius: 70%;
  border: 4px solid black;
  outline: 4px solid black;
}

/* _______________________ Game Names _______________________*/
.Game-Name {
  display: flex;
  justify-content: center;
  color: black;

}


/* _______________________ Game Images _______________________*/
.Game-Image {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4%;
}

#Caked-Image {
  width: 80%;
  height: 80%;
  border-radius: 60%;
}

#Kontagion-Image {
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* _______________________ Work Images _______________________*/
.Work-Image {
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4%;
}

#Build-Image {
  width: 80%;
  height: 70%;
  border-radius: 50%;
}

#Jendia-Image {
  width: 80%;
  height: 70%;
  border-radius: 50%;
}


#Tutor-Image {
  width: 80%;
  height: 70%;
  border-radius: 50%;
}
/* _______________________ Overlay _______________________*/
.Overlay {
  display: none; 
  width: 100%;

}

.Game:hover > .Overlay {

  display: inline-block;


  justify-content: center;
  
}

.Game:hover {
  transform: scale(1.25, 1.25) 
}

.Label-1 {
  color: black;
  text-align: center;
  background-color: lightgoldenrodyellow;
  border: 4px solid darkslateblue;
  overflow-wrap: break-word;

}

/* _______________________ Headings _______________________*/
.Heading {
  color: white;
  padding-left: 5%;
}

#About-me {
  padding-top: 10%;

}

.About-text {
  padding-top: 2%; 
  padding-left: 5%; 
  padding-right: 10%; 
  color: white;
}

#Projects {
  padding-top: 10%;
}

#Contact {
  padding-top: 10%;
}

#Work-Experience {
  padding-top: 10%;
}

/* _______________________ Bookmarks _______________________*/
.Bookmarks
{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: lightgoldenrodyellow;
  border: 6px solid black;
  z-index: 1000;

}


.Bookmark
{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  justify-content: center;

}

.Bookmark:hover {
  background-color: lightgray;
  text-decoration: underline;
}

/* _______________________ Dividers _______________________*/
.Horizontal-Div {
  width: 80%;
  border-top: 3px solid lightgoldenrodyellow;
  justify-content: center;
  transform: translate(5%, 0);
}

/* _______________________ Contact Section _______________________*/
#Contact-Section {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: lightgoldenrodyellow;
  border: 6px solid black;
  z-index: 1000;
}

.Contact-text {
  padding-left: 5%; 
  padding-right: 10%; 
}


/* _______________________ Pic links _______________________*/
/*
Background- https://user-images.githubusercontent.com/56101914/192910554-9f31f027-d966-40cc-afc2-16bed3a1909e.jpg

background: linear-gradient(270deg, #3670F7, #07339B);

word-spacing: 40px;
*/
