html, body {
  height: 100%;
  width: 100%;

  background-image: url('https://user-images.githubusercontent.com/56101914/192910554-9f31f027-d966-40cc-afc2-16bed3a1909e.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


.Games-Display {
  padding-left: 50px;
  padding-right: 50px;
}

.Game {
  display: inline-block;  
}

.Game-Name {
  color: orangered;
  text-alignment: center;
  justify-content: center;
  display: flex;
}

/* Game Images */
.Game-Image {
  display: flex;
  justify-content: center; 
  border-radius: 50%;
}

#Kontagion-Image {
  width: 300px;
  height: 300px;
}
